{# {% extends 'base.html.twig' %} #}

{% block title %}{% endblock %}

{% block body %}
<style>
    html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* 100% de la hauteur de la vue */
}

img {
    max-width: 100%;
    height: 50%;
    margin-bottom+: 100px;
    z-index: -1;

}

button {
    padding: 10px 20px;
    width: 200px;
}

.centered-button {
    position: absolute;
    background-color: rgb(173, 127, 88);
    color: rgb(195, 205, 207);
    font-size: 25px ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius:1cap;
}
</style>


<div class="container">
    <img src="image/Logo_Carrefour.svg" alt="logo carrefour">
</div>

<a href="{{ path('app_second_home_page') }}">
    <button type="button" class="centered-button">Entrer</button>
</a>

{% endblock %}
