{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }}" id="msg">
        {{ messages | join('. ') }}
    </div>

<script>
    setTimeout(function()
    {
        document.getElementById("msg").style.display = "none";
    }, 4000);
</script>
    {% endfor %}
