{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block body %}
	<style>
		.main-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80vh;  
        }

		.homeTexts {
			background-color: rgba(255, 255, 255, 0.8); 
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			color: blue;
			text-align: center;
		}
	</style>

	<div class="main-container">
		<div class="homeTexts">
			<h1>BIENVENU CHEZ VOUS</h1>
			<h1>CARREFOUR EXPRESS</h1>
			<p>La fraicheur de nos produit est la garantie de votre satisfaction</p>
			<p>Horaires d'ouvertures :
			</p>
			<p>Lundi : 12h-21h</p>
			<p>Mardi : 9h-21h</p>
			<p>Mercredi : 9h-21h</p>
			<p>Jeudi : 9h-21h</p>
			<p>Vendredi : 9h-21h</p>
			<p>Samedi : 9h-21h</p>
			<p>dimanche : 9h-23h</p>
		</div>
	</div>
{% endblock %}

